<!DOCTYPE html>
<html>
    <head>
        <title>Tweet 2 DJI</title>
    
<script src="/libs/jquery-1.11.0.js"></script>
<script src="/libs/bootstrap-3.1.1/js/bootstrap.js"></script>
<link href="/libs/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet"> 

<script src="/libs/jqplot/jquery.jqplot.min.js"></script>
<link href="/libs/jqplot/jquery.jqplot.css" rel="stylesheet"> 
<script src="/libs/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.cursor.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.donutRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.enhancedLegendRenderer.min.js"></script>

<link rel="stylesheet" type="text/css" hrf="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />
<script src="/json/json_data.js"></script>

    <style>
        #ppl-modal img{
            height: 260px;
        }

        #main-cont .row{
            padding-bottom: 100px;
        }

        .col-md-6 img{
            width: 350px;
        }

        #cc-modal img{
            height: 500px;
            text-align:center;
        }




    </style>

    </head>
    


    <body>
 

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Tweet 2 Dow Jones</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            
            <li class="active"><a href="#idea-div">Idea</a></li>
            <li><a href="#input-stats-div">Input Stats</a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Result <b class="caret"></b></a>
              <ul class="dropdown-menu">

            <li><a href="#chart-all-div">All</a></li>
            <li><a href="#chart-geo-div">By Geo</a></li>
            <li><a href="#chart-kw-div">By Keywords</a></li>
            <li><a href="#conclusion-div">Conclusion</a></li>
            
              </ul>
            </li>

          </ul>


          <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Learn More
              <ul class="dropdown-menu">
                <li><a data-toggle="modal" data-target="#ppl-modal" href="#">People</a></li>
                <li><a target='_blank' href="http://alias-i.com/lingpipe/demos/tutorial/sentiment/read-me.html">Classification Algorithm</a></li>
                <li><a target='_blank' href="https://github.com/tedsunnyday/Tweet2DowJones">GitHub</a></li>
                <li><a target='_blank' href="https://s3-us-west-2.amazonaws.com/resume-static/Twitter+Public+Emotion+and+Stock+Market+Correlation+Analysis+.pdf">Report</a></li>
              </ul>
            </li>

            
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

        <div class='container-fluid' id='main-cont'>
      

        
        <div class='row' id="idea-div">
        <div class="col-md-12 jumbotron">
        
<h2>Idea</h2>      
<p>
With the increasing popularity of the social network, collecting public mood become possible via natural language analysis on Twitter tweets. 
</p>
<p>
The goal of this project is to develop a system to track and analyze Dow Jones by modelling the correlation between stock market indicator and public social media mood trend.
</p>
<p>
The tweets used were collected via Twitter search APIs with several key words, and then processed with a sentiment analyser provided <a href="http://alias-i.com/lingpipe/" target='_blank'>here</a>. Dow Jones data was collected from Yahoo Finance. 
</p>


        </div>
        </div>
        



        <div class='row' id='input-stats-div'>
        <div class="col-md-12">
            <h2>Input Stats</h2>
            <p>
                We used twitter api to grab public tweets and Yahoo Finance to grab Dow Jones Index value. During the period of April 7th 2014 ~ April 18th 2014, the application has collected 234,239 tweets and 1,783 Dow Jones values in total.

            </p>
        </div>
        <div class="col-md-6">
            <div id="chart-input-kw" ></div>
        </div>
        
        <div class="col-md-6">
            <div id="chart-input-geo" ></div>
        </div>
        
        <div class="col-md-12">
            <div id="chart-input-dji" ></div>
        </div>

        </div>


        <div class='row' id="chart-all-div">
        <div class="col-md-12" >
            <h2>Result for all the tweets</h2>
            <div id="chart-all" ></div>
        </div>
        </div>


        <div class='row' id="chart-geo-div">
        <div class="col-md-12" >
            <h2>Result breakdown by geo location</h2>
            <div id="chart-geo" ></div>
        </div>
        </div>


        <div class='row' id="chart-kw-div">
        <div class="col-md-12">
            <h2>Result breakdown by search keyword</h2>
            <div id="chart-kw"></div>
        </div>
        </div>





        
        <div class='row jumbotron' id="conclusion-div">

        <h2>Conclusion</h2>      


        
        <div class="col-md-12">
            <h3>Cross Correlation</h3>
            <div class="col-md-6">
            <img class="img-responsive" src='json/cross_correlation.jpg' data-toggle="modal" data-target="#cc-modal" title="click to enlarge">
            </div>

            <div class="col-md-6">
            <p>
            The cross correlation graph is shown on the left, and assume we have n1 and n2 array aligning on the x-axis
            <br>

            <i>
            >> [acor,lags]=xcorr(n1,n2);<br>
            >> stem(lags,acor/length(n1));<br>
            </i>

            the result shows we have many outstanding peaks, which means we have strong correlations between tweets emotion and Dow Jones index on those particular time periods. 
            </p>
            </div>
            
        </div>
        
        

        <div class="col-md-12">
        <h3>Summary</h3>
        <p>
        Public mood trend can be simulated on certain degree via sentiment analysis on social media data. When the emotions on twitter have more positive points, Dow Jones index will have more fluctuations in the near future. Emotional outbursts on Twitter produces a predictor of how the stock market will perform.
         
        </p>
        </div>
        

        
        </div>







    </div> <!-- end of container -->


        



        

<div class="modal fade " id='ppl-modal' tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    <div class='container-fluid'>            
    <div class='row'></br></div>
    <div class='row'>
        
        <div class="col-md-4">
            <img src='https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/10177939_649093745138516_7624482761105962687_n.jpg'>

            <h3 class="text-center">Yuan Xia</h3>
        </div>

        <div class="col-md-4">
            <a href = 'http://www.linkedin.com/in/maxwellzhou'> <img src='https://s3-us-west-2.amazonaws.com/resume-static/046c68d.jpg'> </a>

            <h3 class="text-center">Maxwell Zhou</h3>
        </div>

        <div class="col-md-4">
            <img src='https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1794610_10203319032562757_335168770_n.jpg'>

            <h3 class="text-center">Haotian Xu</h3>
        </div>
        
        

    </div>
    </div>


    </div>
  </div>
</div>
    


<div class="modal fade " id='cc-modal' tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    <div class='container-fluid'>            
    <div class='row'></br></div>
    <div class='row'>
        
        <div class="col-md-12">
            <img src='json/cross_correlation.jpg'>

        </div>    

    </div>
    </div>


    </div>
  </div>
</div>


    </body>

    
    <script>
        $(document).ready(function() {   

$('.navbar-left li').click(function(){
        
    if($(this).hasClass('dropdown'))
        return;

    var anchor = $(this).children().first().attr('href');
    // console.log(anchor);
    $('html, body').animate({ scrollTop: $(anchor).offset().top -50}, 500);   

    $('.navbar-left li').each(function(i,dom){
        $(dom).removeClass('active')
    });
    $(this).addClass('active');
    return false;
});


var input_stats_kw = [
    ["i feel - 43258",43258],["i am feeling - 2060", 2060], ["i'm feeling - 8754", 8754], ["i dont feel - 2777",2777],["i'm - 60098",60098],["Im - 47064",47064],["I am - 47172",47172], ["makes me - 23056",23056]
  ];

$.jqplot ('chart-input-kw', [input_stats_kw], 
    
    { 
      title:'By Keywords',
      seriesDefaults: {
        // Make this a pie chart.
        renderer: $.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true,
          dataLabels: 'percent'
        }
      }, 
      legend: { show:true, location: 'e' }
    }
  );

var input_stats_geo = [
  ["LA - 199512",199512],["NYC - 23095",23095],["CHI - 5803",5803],["ATL - 5829", 5829] 
  ];


$.jqplot ('chart-input-geo', [input_stats_geo], 
    
    { 
    title:'By GEO',
      seriesDefaults: {
        // Make this a pie chart.
        renderer: $.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true,
          dataLabels: 'percent'
        }
      }, 
      legend: { show:true, location: 'e' }
    }
  );


$.jqplot('chart-input-dji',
    [
        DATA_DJI['series']
    ],
    {
        title:'Dow Jones Index',
        height:200,
        seriesColors: [
            "rgb(180, 50, 109)"
            ],
        seriesDefaults: {
            rendererOptions: {
                smooth: true,
                animation: {
                    show: false
                }
            },
            showMarker: false
        },
        series: [
            {
             
                label: DATA_DJI['name']
            }
        ],

        grid: {
            background: 'rgba(200,200,200,0.0)',
            drawBorder: false,
            shadow: false,
            gridLineColor: '#666666',
            gridLineWidth: 1
        },
        highlighter: {
            show: true,
            sizeAdjust: 1,
            tooltipOffset: 9
        },

        axes:{
            xaxis:{ 
                renderer:$.jqplot.DateAxisRenderer,
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    formatString:'%Y-%m-%d %H:%M:%S',
                    angle: -20,
                    fontSize: '7pt'
                } 
            }, 
            yaxis:{
                tickOptions:{ prefix:''} 
            } 
        },
        legend: {
            show: true,
            placement: 'inside'
        },
        cursor:{
            show: true,
            zoom: true
        } 
    }
);


$.jqplot('chart-all',
    [
        DATA_DJI_PERC['series'],
        DATA_all_15['series']
    ],
    {
        title:'All Tweets',
        height:500,
        seriesColors: [
            "rgba(78, 135, 194, 0.7)", 
            "rgb(211, 240, 9)"
            ],
        seriesDefaults: {
            rendererOptions: {
                smooth: true,
                animation: {
                    show: false
                }
            },
            showMarker: false
        },
        series: [
            {
                fill: true,
                label: DATA_DJI_PERC['name']
            },
            {
                label: DATA_all_15['name']
            }
        ],

        grid: {
            background: 'rgba(200,200,200,0.0)',
            drawBorder: false,
            shadow: false,
            gridLineColor: '#666666',
            gridLineWidth: 1
        },
        highlighter: {
            show: true,
            sizeAdjust: 1,
            tooltipOffset: 9
        },

        axes:{
            xaxis:{ 
                renderer:$.jqplot.DateAxisRenderer,
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    formatString:'%Y-%m-%d %H:%M:%S',
                    angle: -20,
                    fontSize: '7pt'
                } 
            }, 
            yaxis:{
                tickOptions:{ prefix:''} 
            } 
        },
        legend: {
            show: true,
            placement: 'inside',
            renderer: $.jqplot.EnhancedLegendRenderer,
            show:true,
            showSwatches: true
        },
        cursor:{
            show: true,
            zoom: true
        } 
    }
);

$.jqplot('chart-geo',
    [
        DATA_DJI_PERC['series'],
        DATA_ATL_15['series'],
        DATA_CHI_15['series'],
        DATA_LA_15['series'],
        DATA_NYC_15['series']
    ],
    {
        title:'By Geo Location',
        height:500,
        // seriesColors: [
        //     "rgba(78, 135, 194, 0.7)", 
        //     "rgb(211, 240, 9)",
        //     "rgb(180, 50, 109)"
        //     ],
        seriesDefaults: {
            rendererOptions: {
                smooth: true,
                animation: {
                    show: false
                }
            },
            showMarker: false
        },
        series: [
            {
                fill: true,
                label: DATA_DJI_PERC['name']
            },
            {
                label: DATA_ATL_15['name']
            },
            {
                label: DATA_CHI_15['name']
            },
            {
                label: DATA_LA_15['name']
            },
            {
                label: DATA_NYC_15['name']
            }
        ],

        grid: {
            background: 'rgba(200,200,200,0.0)',
            drawBorder: false,
            shadow: false,
            gridLineColor: '#666666',
            gridLineWidth: 1
        },
        highlighter: {
            show: true,
            sizeAdjust: 1,
            tooltipOffset: 9
        },

        axes:{
            xaxis:{ 
                renderer:$.jqplot.DateAxisRenderer,
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    formatString:'%Y-%m-%d %H:%M:%S',
                    angle: -20,
                    fontSize: '7pt'
                } 
            }, 
            yaxis:{
                tickOptions:{ prefix:''} 
            } 
        },
        legend: {
            show: true,
            placement: 'inside',
            renderer: $.jqplot.EnhancedLegendRenderer,
            show:true,
            showSwatches: true
        },
        cursor:{
            show: true,
            zoom: true
        } 
    }
);
  



$.jqplot('chart-kw',
    [
        DATA_DJI_PERC['series'],
        DATA_i_mfeeling_15['series'],
        DATA_i_m_15['series'],
        DATA_i_am_feeling_15['series'],
        DATA_i_dont_feel_15['series'],
        DATA_im_15['series'],
        DATA_makes_me_15['series'],
        DATA_i_feel_15['series']
    ],
    {
        title:'Result By Keywords',
        height:500,
        // seriesColors: [
        //     "rgba(78, 135, 194, 0.7)", 
        //     "rgb(211, 240, 9)",
        //     "rgb(180, 50, 109)"
        //     ],
        seriesDefaults: {
            rendererOptions: {
                smooth: true,
                animation: {
                    show: true
                }
            },
            showMarker: false
        },
        series: [
            {
                fill: true,
                label: DATA_DJI_PERC['name']
            },
            {
                label: DATA_i_mfeeling_15['name']
            },
            {
                label: DATA_i_m_15['name']
            },  
            {
                label: DATA_i_am_feeling_15['name']
            },
            {
                label: DATA_i_dont_feel_15['name']
            },
            {
                label: DATA_im_15['name']
            },
            {
                label: DATA_makes_me_15['name']
            },
            {
                label: DATA_i_feel_15['name']
            }


        ],
        grid: {
            background: 'rgba(200,200,200,0.0)',
            drawBorder: false,
            shadow: false,
            gridLineColor: '#666666',
            gridLineWidth: 1
        },
        highlighter: {
            show: true,
            sizeAdjust: 1,
            tooltipOffset: 9
        },

        axes:{
            xaxis:{ 
                renderer:$.jqplot.DateAxisRenderer,
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    formatString:'%Y-%m-%d %H:%M:%S',
                    angle: -20,
                    fontSize: '7pt'
                } 
            }, 
            yaxis:{
                tickOptions:{ prefix:''} 
            } 
        },
        legend: {
            show: true,
            placement: 'inside',
           renderer: $.jqplot.EnhancedLegendRenderer,
           show:true,
           showSwatches: true
        },
        cursor:{
            show: true,
            zoom: true
        } 
    }
);

        });
    </script>

</html>