<!DOCTYPE html>
<html>
    <head>
        <title>Tweet</title>
    
<script src="/libs/jquery-1.11.0.js"></script>
<script src="/libs/bootstrap-3.1.1/js/bootstrap.js"></script>
<link href="/libs/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet"> 

<script src="/libs/jqplot/jquery.jqplot.min.js"></script>
<link href="/libs/jqplot/jquery.jqplot.css" rel="stylesheet"> 
<script src="/libs/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.cursor.min.js"></script>
<script src="/libs/jqplot/plugins/jqplot.highlighter.min.js"></script>

<link rel="stylesheet" type="text/css" hrf="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />
<script src="/json/json_data.js"></script>

    </head>
    


    <body>
        
        <div class='container-fluid'>
        
        <div class='row'>
            <div class="col-md-12">
                <div id="chartdiv"></div>
            </div>
        </div>
        

        </div>
        
        

    </body>

    
    <script>
        $(document).ready(function() {   
            console.log(DATA_LA['name']);
            console.log(DATA_LA['series'].length);
            console.log(DATA_LA['series'][0]);

$.jqplot('chartdiv',
    [
        DATA_DJI['series'],
        DATA_LA['series'],
        DATA_NYC['series']
    ],
    {
        title:'BY GEO DUMMY - CAN ZOOM IN',
        seriesColors: [
            "rgba(78, 135, 194, 0.7)", 
            "rgb(211, 240, 9)",
            "rgb(180, 50, 109)"
            ],
        seriesDefaults: {
            rendererOptions: {
                smooth: true,
                animation: {
                    show: true
                }
            },
            showMarker: false
        },
        series: [
            {
                fill: true,
                label: DATA_DJI['name']
            },
            {
                label: DATA_NYC['name']
            },
            {
                label: DATA_NYC['name']
            }
        ],

        grid: {
            background: 'rgba(200,200,200,0.0)',
            drawBorder: false,
            shadow: false,
            gridLineColor: '#666666',
            gridLineWidth: 1
        },
        highlighter: {
            show: true,
            sizeAdjust: 1,
            tooltipOffset: 9
        },

        axes:{
            xaxis:{ 
                renderer:$.jqplot.DateAxisRenderer,
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    formatString:'%Y-%m-%d %H:%M:%S',
                    angle: -45
                } 
            }, 
            yaxis:{
                tickOptions:{ prefix:'Val - '} 
            } 
        },
        legend: {
            show: true,
            placement: 'inside'
        },
        cursor:{
            show: true,
            zoom: true
        } 
    }
);
            
        });
    </script>

</html>