<!DOCTYPE html>
<html>
    <head>
        <title>Tweet</title>
    </head>
    <body>
        <div class='container'>
        
        <table class="table table-striped table-hover">
            
            <thead>
            <tr>
                <th>q</th>
                <th>cnt</th>
            </tr>
            </thead>
            <tbody>
            {% for t in arr%}
                <tr>
                    <td>{{ t.q }}</td>
                    <td>{{ t.cnt }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        </div>

    </body>

    <script src="/libs/jquery-1.11.0.js"></script>
    <script src="/libs/bootstrap-3.1.1/js/bootstrap.js"></script>
    <link href="/libs/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet"> 
        
</html>